*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(255, 252, 253);
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column

}


.navbar {
    position: absolute;
    top: 250px;
    width: 60%;
    left: 4%;;
    font-family: monospace;
    font-size: 20px;
    
}
.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
;

}
.navbar li {
    float: left;
    width: 14%;

}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}

.navbar a:hover{
    background-color: rgb(224, 133, 147);
    border-radius: 50px;
    color: white;
}


.navbar2 {
    position: absolute;
    top: 250px;
    width: 60%;
    right: 4%;;
    font-family: monospace;
    font-size: 20px;
;
}
.navbar2 ul {
    list-style-type: none;

    padding: 0px;
    margin: 0px;
    overflow: hidden;
;

}
.navbar2 li {
    float: right;
    width: 14%;

}

.navbar2 a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}


main{
    width: 100%; 
    margin: 0;
    position: absolute;
    height: 700px;
    top: 350px;
    padding: 50px;
    font-size: 30px;
    background-color: rgb(255, 223, 230);
    

    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;




}

.button {
  display: inline-block;
  padding: 7px 16px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #df0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #910000;

}

.button:active {
  box-shadow: 0 5px #6b0000;
  transform: translateY(4px);
}


.menu-item {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 5%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu-item img{
    width: 360px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


.listProducts{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}
.span1{
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40%;
    left: 93%;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    align-items: center;
    justify-content: center;
    color: white;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #ffb6c1; /* Light pink background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    padding-top: 60px; /* Place content 60px from the top */
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
}

/* Sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Change color of links on hover */
.sidebar a:hover {
    color: #f1f1f1;
    background-color: #ff69b4; /* Hot pink on hover */
}

/* Position and style the close button (top right corner) */
.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button to open the sidebar */
.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ff69b4; /* Hot pink button */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    position: fixed; /* Keeps button in place as you scroll */
    right: 20px;
    top: 200px;
}

.open-btn:hover {
    background-color: #ffb6c1; /* Light pink on hover */
}

/* Main content styles */
.main-content {
    padding: 20px;
    transition: margin-right .5s;
}