*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(255, 252, 253);
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column

}


.navbar {
    position: absolute;
    top: 250px;
    width: 60%;
    left: 4%;;
    font-family: monospace;
    font-size: 20px;
    
}
.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
;

}
.navbar li {
    float: left;
    width: 14%;

}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}

.navbar a:hover{
    background-color: rgb(224, 133, 147);
    border-radius: 50px;
    color: white;
}


.navbar2 {
    position: absolute;
    top: 250px;
    width: 60%;
    right: 4%;;
    font-family: monospace;
    font-size: 20px;
;
}
.navbar2 ul {
    list-style-type: none;

    padding: 0px;
    margin: 0px;
    overflow: hidden;
;

}
.navbar2 li {
    float: right;
    width: 14%;

}

.navbar2 a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}


main{
    width: 100%; 
    margin: 0;
    position: absolute;
    height: 700px;
    top: 350px;
    padding: 50px;
    font-size: 30px;
    background-color: rgb(255, 223, 230);
    

    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;




}

.button {
  display: inline-block;
  padding: 7px 16px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #df0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #910000;

}

.button:active {
  box-shadow: 0 5px #6b0000;
  transform: translateY(4px);
}


.menu-item {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 25%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu-item img{
    width: 360px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


.listProducts{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}
span{
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40%;
    left: 93%;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    align-items: center;
    justify-content: center;
    color: white;
}